body {
    background-color: #242535;
    color: #fff;
    
}

.title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    justify-content: left;
}

h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    justify-content: left;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    border: 10px;
    list-style: none;
}

.navbar li :hover {
    color: #FFCA00;
    transition: 0.5s;
    text-decoration: underline;
}

.navfirst {
    display: flex;
    justify-content: left;
    color: #fff;
    border: 10px;
}

li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;  
    border: #ffffff 1px solid;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;  
    border: #ffffff 1px solid;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;  
    border: #ffffff 1px solid;
}

.inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;  
    
}

.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;  
    
}

.box-accueil {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: #ffffff 1px solid;
}

.calltoaction {}